<template>
	<header class="site-header">
		<div class="container">
			<div class="flex">
				<button class="btn btn--black80 btn--large btn--icon mr-12 nav-toggle" type="button" aria-label="Menu" @click="toggle">
					<span class="bzi-bars" aria-hidden="true"></span>
				</button>
				<Logo />
			</div>
			<HeaderNav />
		</div>
	</header>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
	name: 'Header',
	methods: {
		...mapMutations(["toggle"])
	}
}
</script>

<style lang="scss">
.site-header {
	display: flex;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $suitmedia;
	box-shadow: 0px 0px 10px #333333;

	& > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	.nav-toggle {
		@media #{$medium} {
			display: none;
		}
	}
}
</style>
