<template>
	<a class="link-white mr-12 ml-12" href="https://github.com/suitmedia/generator-suit-baze" target="blank" aria-label="See the repository">
		<i class="bzi-github"></i>
	</a>
</template>

<script>
export default {
	name: 'HeaderNav'
}
</script>

<style lang="scss" scoped>
.bzi-github {
	font-size: 1.5rem;
}
</style>
