<template>
	<aside class="sidebar" :class="{ active: showSidebar }">
        <div v-if="!$fetchState.pending">
			<nav class="main-menu">
				<ul class="list-nostyle">
					<li v-for="(menu, i) in menus" :key="i" class="main-menu__item">
						<nuxt-link class="header-link" :to="menu.url">{{ menu.title }}</nuxt-link>
					</li>
				</ul>
			</nav>
		</div>
    </aside>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
	name: 'Sidebar',
    data() {
		return {
			menus: []
		}
	},
	computed: {
		...mapGetters({ showSidebar: "getSidebarState" })
	},
	async fetch() {
		await this.$axios.get(`/json/menus.json`)
			.then(res => {
				this.menus = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss" scoped>
.sidebar {    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 215px;
    height: 100%;
    padding-top: 60px;
	overflow-y: auto;
	background-color: white;
	border-right: 1px solid #cccccc;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	transform: translateX(-100%);
	transition: transform .3s ease;

	&.active {
		transform: translateX(0);
		transition: transform .3s ease;
	}

	@media #{$medium} {
		transform: translateX(0);
		transition: transform .3s ease;
	}
}

.main-menu {
	@media #{$medium} {
		& > ul {
			display: flex;
			flex-direction: column;
		}
	}

	li {
		display: block;
	}

	ul,
	li {
		height: 100%;
	}

	.header-link {
		padding: 8px 8px 8px 24px;
		color: $dark-grey;
		height: 100%;
		display: flex;
		align-items: center;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;

		&:hover,
		&:focus,
		&.is-active {
			color: $black70;
		}	
	}

	.nuxt-link-active {
		font-weight: bold;
		background-color: #e6e6e6;
	}
}
</style>
