<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 0 532.312 339.07"
	>
		<defs>
			<clipPath id="a">
				<rect
					class="a"
					width="257.486"
					height="327.556"
					transform="translate(507.877 125.859)"
				/>
			</clipPath>
			<clipPath id="b">
				<path
					class="a"
					d="M556.669,144.742c-36.589,17.857-49.65,54.154-48.748,75.68,1.353,32.313,9.914,53.475,36.279,83.786,22.936,26.369,24.492,39.022,27.8,58.41,4.342,25.455-48.734,54.467-47.465,90.8H710.19c19.773-23.188-54.66-75.491-31.294-106.121,16.116-21.128,30.374-12.346,56.064-38.9,14.494-14.98,36.557-44.957,28.792-62.974-15.923-36.952-46.372-3.962-66.037-27.436-20.823-24.856.9-67.6-38.877-85.639-29.347-13.309-67.279-4.632-102.169,12.4"
				/>
			</clipPath>
			<linearGradient
				id="c"
				x1="-1.917"
				y1="1.627"
				x2="-1.913"
				y2="1.627"
				gradientUnits="objectBoundingBox"
			>
				<stop offset="0" stop-color="#6fb95b" />
				<stop offset="1" stop-color="#00a651" />
			</linearGradient>
			<clipPath id="d">
				<path
					class="a"
					d="M694.7,120.175v12.883a1.534,1.534,0,1,0,3.067,0V120.175a1.534,1.534,0,1,0-3.067,0"
				/>
			</clipPath>
			<linearGradient
				id="e"
				x1="-226.51"
				y1="34.125"
				x2="-226.184"
				y2="34.125"
				xlink:href="#c"
			/>
			<clipPath id="f">
				<path
					class="a"
					d="M690.4,125.083a1.534,1.534,0,0,0,0,3.068H702.67a1.534,1.534,0,0,0,0-3.068Z"
				/>
			</clipPath>
			<linearGradient
				id="g"
				x1="-44.909"
				y1="175.332"
				x2="-44.844"
				y2="175.332"
				xlink:href="#c"
			/>
			<clipPath id="h">
				<path
					class="a"
					d="M740.847,358.857a8.237,8.237,0,0,0,5.781-5.782,8.233,8.233,0,0,0,5.781,5.782,8.227,8.227,0,0,0-5.781,5.78,8.231,8.231,0,0,0-5.781-5.78m4.565-11.247c-1.429,7.758-2.272,8.6-10.03,10.031a1.236,1.236,0,0,0,0,2.431c7.758,1.428,8.6,2.272,10.03,10.03a1.236,1.236,0,0,0,2.431,0c1.429-7.758,2.272-8.6,10.031-10.03a1.236,1.236,0,0,0,0-2.431c-7.759-1.429-8.6-2.273-10.031-10.031a1.236,1.236,0,0,0-2.431,0"
				/>
			</clipPath>
			<linearGradient
				id="i"
				x1="-29.955"
				y1="12.905"
				x2="-29.914"
				y2="12.905"
				xlink:href="#c"
			/>
			<clipPath id="j">
				<path
					class="a"
					d="M463.274,250.409a1.926,1.926,0,1,0,0,3.852h8.689a1.926,1.926,0,1,0,0-3.852Z"
				/>
			</clipPath>
			<linearGradient
				id="k"
				x1="-36.781"
				y1="107.112"
				x2="-36.701"
				y2="107.112"
				xlink:href="#c"
			/>
			<clipPath id="l">
				<path
					class="a"
					d="M479.631,250.409a1.926,1.926,0,1,0,0,3.852h8.687a1.926,1.926,0,1,0,0-3.852Z"
				/>
			</clipPath>
			<linearGradient
				id="m"
				x1="-38.091"
				y1="107.112"
				x2="-38.012"
				y2="107.112"
				xlink:href="#c"
			/>
			<clipPath id="n">
				<path
					class="a"
					d="M473.87,255.873v8.021a1.926,1.926,0,1,0,3.853,0v-8.021a1.926,1.926,0,1,0-3.853,0"
				/>
			</clipPath>
			<linearGradient
				id="o"
				x1="-122.988"
				y1="34.447"
				x2="-122.729"
				y2="34.447"
				xlink:href="#c"
			/>
			<clipPath id="p">
				<path
					class="a"
					d="M473.87,240.777v8.02a1.926,1.926,0,1,0,3.853,0v-8.02a1.926,1.926,0,1,0-3.853,0"
				/>
			</clipPath>
			<linearGradient
				id="q"
				x1="-122.988"
				y1="35.721"
				x2="-122.729"
				y2="35.721"
				xlink:href="#c"
			/>
			<clipPath id="r">
				<path
					class="a"
					d="M427.582,453.415a2.149,2.149,0,1,0,0,4.295H800.793a2.149,2.149,0,1,0,0-4.295Z"
				/>
			</clipPath>
			<linearGradient
				id="s"
				x1="-1.126"
				y1="48.797"
				x2="-1.124"
				y2="48.797"
				xlink:href="#c"
			/>
			<clipPath id="t">
				<rect
					class="a"
					width="27.2"
					height="20.757"
					transform="translate(609.449 306.68)"
				/>
			</clipPath>
			<clipPath id="u">
				<path
					class="a"
					d="M609.966,252.735h22.9l.2,200.68h-22.9Zm-4.3-4.295.206,209.27h31.493l-.206-209.27Z"
				/>
			</clipPath>
			<linearGradient
				id="v"
				x1="-19.107"
				y1="1.981"
				x2="-19.075"
				y2="1.981"
				xlink:href="#c"
			/>
			<clipPath id="w">
				<path
					class="a"
					d="M626.628,382.553v6.442a1.432,1.432,0,1,0,2.863,0v-6.442a1.432,1.432,0,1,0-2.863,0"
				/>
			</clipPath>
			<linearGradient
				id="x"
				x1="-218.864"
				y1="30.29"
				x2="-218.514"
				y2="30.29"
				xlink:href="#c"
			/>
			<clipPath id="y">
				<path
					class="a"
					d="M626.628,337.458v38.4a1.432,1.432,0,0,0,2.863,0v-38.4a1.432,1.432,0,0,0-2.863,0"
				/>
			</clipPath>
			<linearGradient
				id="z"
				x1="-218.864"
				y1="7.925"
				x2="-218.514"
				y2="7.925"
				xlink:href="#c"
			/>
			<clipPath id="aa">
				<path
					class="a"
					d="M565.787,269.68V223.428l32.7-32.7h46.252l32.706,32.7V269.68l-32.706,32.705H598.491ZM597.3,185a2.858,2.858,0,0,0-2.024.838L560.9,220.218a2.859,2.859,0,0,0-.84,2.024v48.624a2.863,2.863,0,0,0,.84,2.025l34.381,34.382a2.858,2.858,0,0,0,2.024.838h48.624a2.86,2.86,0,0,0,2.024-.838l34.383-34.382a2.867,2.867,0,0,0,.839-2.025V222.242a2.863,2.863,0,0,0-.839-2.024l-34.383-34.383a2.86,2.86,0,0,0-2.024-.838Z"
				/>
			</clipPath>
			<linearGradient
				id="ab"
				x1="-4.549"
				y1="3.883"
				x2="-4.541"
				y2="3.883"
				xlink:href="#c"
			/>
			<clipPath id="ac">
				<path
					class="a"
					d="M601.065,196.937,572,226v41.1l29.065,29.066h41.1l29.065-29.066V226L642.17,196.937Z"
				/>
			</clipPath>
			<linearGradient
				id="ad"
				x1="-3.929"
				y1="3.467"
				x2="-3.922"
				y2="3.467"
				xlink:href="#c"
			/>
			<clipPath id="ae">
				<path
					class="a"
					d="M594.375,455.563h17.459c-4.018-26.839-17.52-33.13-37.505-34.755,11.108,5.941,22.4,15.422,20.046,34.755"
				/>
			</clipPath>
			<linearGradient
				id="af"
				x1="-15.313"
				y1="6.969"
				x2="-15.287"
				y2="6.969"
				xlink:href="#c"
			/>
			<clipPath id="ag">
				<path
					class="a"
					d="M608.125,455.563h17.2c3.558-24.2-2.323-37.571-22.632-48.408,10.489,18.291,7.456,36.213,5.428,48.408"
				/>
			</clipPath>
			<linearGradient
				id="ah"
				x1="-10.693"
				y1="5.44"
				x2="-10.674"
				y2="5.44"
				xlink:href="#c"
			/>
			<clipPath id="ai">
				<path
					class="a"
					d="M623.006,455.563h25.1c-6.694-10.183-10.735-20.761,5.944-38.478-15.519,6.987-24.1,11-31.039,38.478"
				/>
			</clipPath>
			<linearGradient
				id="aj"
				x1="-20.072"
				y1="6.391"
				x2="-20.039"
				y2="6.391"
				xlink:href="#c"
			/>
			<clipPath id="ak">
				<rect
					class="a"
					width="50.736"
					height="86.824"
					transform="translate(509.269 315.444)"
				/>
			</clipPath>
			<clipPath id="al">
				<path
					class="a"
					d="M537.532,321.529s31.511,26.939,19.907,50.17c-9.553,19.126-14.437,21.77-24.748,28.732-.665.45-22.218,9.24-18.06-16.055,3.984-24.238,8.308-31.6-.5-44-14.077-19.825,5.114-33.364,23.4-18.843"
				/>
			</clipPath>
			<linearGradient
				id="am"
				x1="-4.284"
				y1="4.154"
				x2="-4.276"
				y2="4.154"
				xlink:href="#c"
			/>
			<clipPath id="an">
				<rect
					class="a"
					width="41.495"
					height="45.396"
					transform="translate(702.04 166.939)"
				/>
			</clipPath>
			<clipPath id="ao">
				<path
					class="a"
					d="M702.155,178.574s-1.066,19.877,3.274,29.181,32.558,1.747,36.374.581c11.419-3.489-37.269-66.925-39.648-29.762"
				/>
			</clipPath>
			<linearGradient
				id="ap"
				x1="-13.448"
				y1="6.898"
				x2="-13.429"
				y2="6.898"
				xlink:href="#c"
			/>
		</defs>
		<g transform="translate(-350.304 -118.64)">
			<rect
				class="b"
				width="532.312"
				height="273.254"
				transform="translate(350.304 173.288)"
			/>
			<g class="c">
				<g class="d">
					<g class="e">
						<rect
							class="f"
							width="264.498"
							height="334.379"
							transform="translate(507.019 119.036)"
						/>
					</g>
				</g>
			</g>
			<g class="g">
				<rect
					class="h"
					width="3.067"
					height="15.952"
					transform="translate(694.695 118.64)"
				/>
			</g>
			<g class="i">
				<rect
					class="j"
					width="15.339"
					height="3.068"
					transform="translate(688.865 125.083)"
				/>
			</g>
			<g class="k">
				<rect
					class="l"
					width="24.516"
					height="24.517"
					transform="translate(734.369 346.598)"
				/>
			</g>
			<g class="m">
				<rect
					class="n"
					width="12.543"
					height="3.852"
					transform="translate(461.347 250.409)"
				/>
			</g>
			<g class="o">
				<rect
					class="p"
					width="12.541"
					height="3.852"
					transform="translate(477.704 250.409)"
				/>
			</g>
			<g class="q">
				<rect
					class="r"
					width="3.853"
					height="11.875"
					transform="translate(473.87 253.946)"
				/>
			</g>
			<g class="s">
				<rect
					class="t"
					width="3.853"
					height="11.874"
					transform="translate(473.87 238.85)"
				/>
			</g>
			<g class="u">
				<rect
					class="v"
					width="377.664"
					height="4.295"
					transform="translate(425.355 453.415)"
				/>
			</g>
			<rect
				class="b"
				width="27.199"
				height="204.975"
				transform="translate(607.917 250.587)"
			/>
			<g class="w">
				<g class="x"><path d="M636.649,322.427l-27.2,5.01V306.679h27.2Z" /></g>
			</g>
			<g class="y">
				<rect
					class="z"
					width="31.699"
					height="209.27"
					transform="translate(605.667 248.44)"
				/>
			</g>
			<g class="aa">
				<rect
					class="ab"
					width="2.863"
					height="9.306"
					transform="translate(626.628 381.121)"
				/>
			</g>
			<g class="ac">
				<rect
					class="ad"
					width="2.863"
					height="41.26"
					transform="translate(626.628 336.027)"
				/>
			</g>
			<g class="ae">
				<rect
					class="af"
					width="123.115"
					height="123.114"
					transform="translate(560.06 184.997)"
				/>
			</g>
			<g class="ag">
				<rect
					class="ah"
					width="140.339"
					height="140.339"
					transform="translate(522.383 246.555) rotate(-45)"
				/>
			</g>
			<path
				class="b"
				d="M677.8,221.206l-30.839-30.838L645.5,188.9H597.736l-1.468,1.468-30.837,30.838-1.467,1.467v47.762l1.467,1.467,30.837,30.838,1.468,1.468H645.5l1.467-1.468L677.8,271.9l1.467-1.468V222.673Zm-6.569,4.8v41.1l-29.066,29.066h-41.1L572,267.106V226l29.065-29.065h41.1Z"
			/>
			<g class="ai">
				<rect
					class="aj"
					width="37.505"
					height="34.755"
					transform="translate(574.329 420.808)"
				/>
			</g>
			<g class="ak">
				<rect
					class="al"
					width="55.018"
					height="46.885"
					transform="translate(581.736 443.461) rotate(-60)"
				/>
			</g>
			<g class="am">
				<rect
					class="an"
					width="31.039"
					height="38.478"
					transform="translate(623.006 417.085)"
				/>
			</g>
			<g class="c">
				<g class="ao">
					<g class="ap">
						<rect
							class="aq"
							width="111.726"
							height="83.396"
							transform="matrix(0.148, -0.989, 0.989, 0.148, 485.056, 407.432)"
						/>
					</g>
				</g>
			</g>
			<g class="c">
				<g class="ar">
					<g class="as">
						<rect
							class="at"
							width="52.133"
							height="75.648"
							transform="translate(701.089 141.411)"
						/>
					</g>
				</g>
			</g>
			<path
				class="b"
				d="M726.977,244.047a10.07,10.07,0,0,0,2.5,3.463c3.17,2.947,11.376,12.423,1.649,24.527-4.587,5.709,10.3,15.648,19.243,0,9.727-17.022,2.431-30.133-3.383-33.833-7-4.454-24.374-4.649-20.007,5.843"
			/>
			<text class="au" transform="translate(580.675 262.21)">
				<tspan x="0" y="0">{{ errorCode }}</tspan>
			</text>
		</g>
	</svg>
</template>

<script>
export default {
	name: 'ErrorCode',
	props: {
		errorCode: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss" scoped>
.a {
					fill: none;
				}
				.au,
				.b {
					fill: #fff;
				}
				.c {
					opacity: 0.08;
				}
				.d {
					clip-path: url(#a);
				}
				.e {
					clip-path: url(#b);
				}
				.f {
					fill: url(#c);
				}
				.g {
					clip-path: url(#d);
				}
				.h {
					fill: url(#e);
				}
				.i {
					clip-path: url(#f);
				}
				.j {
					fill: url(#g);
				}
				.k {
					clip-path: url(#h);
				}
				.l {
					fill: url(#i);
				}
				.m {
					clip-path: url(#j);
				}
				.n {
					fill: url(#k);
				}
				.o {
					clip-path: url(#l);
				}
				.p {
					fill: url(#m);
				}
				.q {
					clip-path: url(#n);
				}
				.r {
					fill: url(#o);
				}
				.s {
					clip-path: url(#p);
				}
				.t {
					fill: url(#q);
				}
				.u {
					clip-path: url(#r);
				}
				.v {
					fill: url(#s);
				}
				.w {
					opacity: 0.15;
				}
				.x {
					clip-path: url(#t);
				}
				.y {
					clip-path: url(#u);
				}
				.z {
					fill: url(#v);
				}
				.aa {
					clip-path: url(#w);
				}
				.ab {
					fill: url(#x);
				}
				.ac {
					clip-path: url(#y);
				}
				.ad {
					fill: url(#z);
				}
				.ae {
					clip-path: url(#aa);
				}
				.af {
					fill: url(#ab);
				}
				.ag {
					clip-path: url(#ac);
				}
				.ah {
					fill: url(#ad);
				}
				.ai {
					clip-path: url(#ae);
				}
				.aj {
					fill: url(#af);
				}
				.ak {
					clip-path: url(#ag);
				}
				.al {
					fill: url(#ah);
				}
				.am {
					clip-path: url(#ai);
				}
				.an {
					fill: url(#aj);
				}
				.ao {
					clip-path: url(#ak);
				}
				.ap {
					clip-path: url(#al);
				}
				.aq {
					fill: url(#am);
				}
				.ar {
					clip-path: url(#an);
				}
				.as {
					clip-path: url(#ao);
				}
				.at {
					fill: url(#ap);
				}
				.au {
					font-size: 48px;
					font-family: Hind-Bold, Hind;
					font-weight: 700;
				}
</style>
