<template>
	<footer class="site-footer">
		<div class="container mb-32">© 2023 Suitmedia</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss">
.site-footer {
	@media #{$medium} {
		margin-left: 13.5rem;
	}
}
</style>
