<template>
    <div class="bzg bzg--flex card-group js-card">
        <div v-for="(data, i) in gridCardData" :key="i" class="bzg_c mb-24" data-col="s12,m6,l3">
            <div class="card--primary">
                <div class="card--header">
                    {{ data.header }}
                </div>
                <a :href="data.url">
                    <img class="card--image" :src="data.imageSource" width="125rem" height="125rem" loading="lazy" :alt="data.imageAlt">
                </a>
                <div class="card--body">
                    <p class="h5 text-semibold">{{ data.name }}</p>
                    <p class="text-right">{{ data.date }}</p>
                    <p class="mb-0">{{ data.description }}</p>
                </div>
                <div class="card--footer">
                    {{ data.footer }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
	name: 'GridCard',
	props: {
		gridCardData: {
			type: Array,
			default: null
		}
	}
}
</script>
