<template>
	<div>
		<nuxt-link to="/" class="site-logo">
			<img class="baze-white-icon" src="~assets/img/baze-flat-icon.png" width="30rem" height="30rem" alt="">
			<h3 class="font-fira link-white text-bold mb-0 ml-8">Suitbaze</h3>
		</nuxt-link>
	</div>
</template>

<style lang="scss" scoped>
.site-logo {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 0.25rem;

	.baze-white-icon {
		margin: 0.5rem;
	}
}
</style>
