<template>
    <div class="pokemon-data">
        <p class="h5 text-semibold">#{{ id }}</p>
        <img class="pokemon-img" :src="image" width="50px" height="50px" loading="lazy" :alt="name" />
        <p class="h4 mt-12 text-semibold text-caps">{{ name }}</p>
        <hr/>
        <p>Type:</p>
        <span v-for="(type, i) in types" :key="i">
            <span class="pokemon-type">{{ type.type.name }}</span>
        </span>
    </div>
</template>

<script>
export default {
	name: 'Pokemon',
	props: { 
        id: Number,
        name: String,
        image: String,
        types: Array
    }
}
</script>

<style lang="scss" scoped>
.pokemon-data {
    margin: 0 auto;
    text-align: center;
    
    .pokemon-img {
        display: flex;
        margin: 0 auto;
    }

    .pokemon-type {
        padding: 0 8px;
        margin: 0 4px;
        background-color: lighten($yellow, 20);
    }
}
</style>