.alert {
    position: relative;
    padding: 8px 16px;
    border: 1px solid;
    margin: 15px 0;
    vertical-align: middle;
    background-color: #f0f0f0;
}

@mixin alertStyle($bg, $color: #fff, $shade: dark) {
    @extend .alert;

    @if $shade == dark {
        color: $bg;
        background-color: lighten($bg, 32%);
        border-color: $bg;
    } @else if $shade == light {
        color: darken($bg, 20%);
        background-color: $bg;
        border-color: darken($bg, 20%);
    }
}

@each $state, $color in $palettes {
    .alert--#{$state} {
        @include alertStyle($color);
    }
}

@each $state, $color in $light-palettes {
    .alert--#{$state} {
        @include alertStyle($color, $black80, light);
    }
}

.alert--popup {
    display: none;

    &-content {
        position: fixed;
        z-index: 6;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%);
        width: 80%;
        margin: auto;
    }

    .alert--close {
        float: right;
    }

    .alert--overlay {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 15%;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: auto;
    }

    &.is-active {
        display: block;
    }
}