.progress-bar {
  position: relative;
  overflow: hidden;
  background: rgba(lighten($primary, 40%), 0.3);
  border-radius: 4px;

  .bar {
    display: block;
    height: 4px;
    background: $primary;
    border-radius: 4px;

    @media #{$medium} {
      height: 8px;
    }
  }
}

.hash-container {
  background-color: rgba(lighten($primary, 40%), 0.2);
  padding: 14px 16px;
}

.card-group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@media #{$medium} {
		flex-direction: row;
	}
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  border: 1px solid;
  color: #4d4d4d;

  .card--header, 
  .card--footer {
    padding: 8px 16px;
    background-color: #d3d3d3;
  }

  .card--header {
    border-bottom: 1px solid;
  }

  .card--footer {
    border-top: 1px solid;
  }

  .card--body {
    flex: 1 1 auto;
    padding: 8px 16px;
  }

  .card--image {
    width: auto;
    height: auto;
  }

  a > .card--image {
    width: 100%;
  }

  @media #{$medium} {
		margin-left: 12px;
	}
}

@mixin cardStyle($bg, $color: #fff, $shade: dark) {
  @extend .card;
  color: $color;
  background-color: $bg;
  border-color: darken($color, 70%);

  @if $shade == light {
    color: darken($color, 20%);
  }

  .card--header, 
  .card--footer {
    background-color: darken($bg, 15%);
  }

  .card--header {
    border-bottom: 1px solid darken($color, 80%);
  }

  .card--footer {
    border-top: 1px solid darken($color, 80%);
  }
}

@each $state, $color in $palettes {
  .card--#{$state} {
      @include cardStyle($color);
  }
}

@each $state, $color in $light-palettes {
  .card--#{$state} {
      @include cardStyle($color, $black80, light);
  }
}