.pagination,
.pagination--left,
.pagination--right {
    display: flex;
    padding: 0;
    margin: 0 0 $space 0;
    list-style: none;
    user-select: none;
    
    li {
        margin: 0 2px;
    }

    a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: solid 1px #ddd;
        color: $black70;
        background: #eee;

        &:hover,
        &:focus {
            cursor: pointer;
            color: $black70;
            background: #d5d5d5 !important;
        }

        &.is-active {
            cursor: default;
            pointer-events: none;
            font-weight: bold;
            color: $black70;
            background: #d5d5d5 !important;
        }

        &[disabled] {
            cursor: default;
            pointer-events: none;
            opacity: 0.6;
        }
    }
}

.pagination {
    justify-content: center;
}

.pagination--left {
    justify-content: flex-start;
}

.pagination--right {
    justify-content: flex-end;
}