<template>
	<div id="app" class="sticky-footer-container">
		<div class="sidebar-overlay" :class="{ active: showSidebar }" @click="toggle" />
		<div class="sticky-footer-container-item">
			<Header />
			<headerSidebar />
		</div>
		<div class="sticky-footer-container-item --pushed">
			<nuxt />
		</div>
		<div class="sticky-footer-container-item">
			<Footer />
		</div>
	</div>
</template>

<script>

/* Building a sidebar with Nuxt & Vuex
https://devpress.csdn.net/vue/62f0d574c6770329307f4ac3.html */

import { mapGetters, mapMutations } from 'vuex';
export default {
	name: 'DefaultLayout',
	methods: {
		...mapMutations(["toggle"])
	},
	computed: {
		...mapGetters({ showSidebar: "getSidebarState" })
	},
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	}
}
</script>

<style lang="scss">
.code-snippet {
    display: block;
    padding: 0.5rem;
	overflow-x: auto;
    background-color: $light-purple;
}
.sidebar-overlay {
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;

	&.active {
		display: block;
	}
}
</style>
