<template>
	<div class="home-layout">
        <header class="home-header-nav font-fira">
            <img class="baze-white-icon" src="~/assets/img/baze-flat-icon.png" width="35rem" height="35rem" alt="">	
            <h4 class="font-fira title text-white text-bold">Baze UI</h4>
        </header>
        <nuxt />
        <footer class="creator text-center">
            <span class="mr-16">Version 2.20.0</span> | <span class="ml-16">Powered by:
                <a class="link-white" href="https://suitmedia.com/" target="blank">Suitmedia.com</a></span>
        </footer>
    </div>
</template>

<style lang="scss">
#__nuxt,
#__layout,
.home-layout {
	height: 100%;
}
</style>

<style lang="scss" scoped>
.home-layout {
    position: relative;
    width: 100%;
    background-color: #555;
    color: white;

    .home-header-nav {
        display: flex;
        align-items: center;
        padding: 1.5rem;

        .baze-white-icon {
            margin: 0.5rem;
        }

        .title {
            margin: 0.25rem;
        }
    }

	.site-main {
		margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%);
	}

    .creator {
        position: absolute;
        padding: 20px 0;
        width: 75%;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 14px;
    }
}
</style>
