<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">PokeAPI</h2>
				<input class="form-input full-width" type="text" placeholder="Gotta find 'em all...." v-model="search" />
				<div v-if="!isLoading">
					<div class="bzg bzg--flex card-group pokemon--flex">
						<div v-for="(pokemon, i) in filteredPokemon" :key="i" class="bzg_c pokemon-card" data-col="s6,m5,l3">
							<Pokemon
								:id="pokemon.id"
								:image="pokemon.sprites.other.dream_world.front_default"
								:name="pokemon.name"
								:types="pokemon.types"
							/>
						</div>
					</div>
					<div v-if="filteredPokemon.length === 0">
						<p class="mt-24 mb-24 text-center">No pokemon</p>
					</div>
					<button class="btn--primary load-more" type="button" @click="loadMorePokemon">Load More</button>
				</div>
				<div v-else-if="isLoading" class="spinner"></div>
            </div>
            <hr>
        </div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			offset: 0,
			pokemons: [],
			search: "",
			isLoading: false
		}
	},
	async fetch() {
		await this.fetchPokemon();
	},
	computed: {
		filteredPokemon() {
			if (!this.search.trim()) {
				return this.pokemons;
			} else {
				return this.pokemons.filter(pokemon =>
					pokemon.name.includes(this.search.toLowerCase())
				);
			}
		},
	},
	methods: {
		async fetchPokemon() {
			this.isLoading = true;
			try {
				const res = await this.$axios.get(`https://pokeapi.co/api/v2/pokemon?offset=${this.offset}&limit=20`);
				const pokemonPromises = res.data.results.map(async (pokemon) => {
					try {
						const res = await this.$axios.get(pokemon.url);
						return res.data;
					} catch (error) {
						throw error;
					}
				});
				const pokemonData = await Promise.all(pokemonPromises);
				this.offset += 20,
				this.pokemons = [...this.pokemons, ...pokemonData];
			} 
			catch (error) {
				const errData = error.response?.data;
				const errMessage =
					error.response.data?.message || error.response.statusText;
				if (errData?.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404);
				else {
					this.$nuxt.error(this.$catch500);
					const consoleError = new Error(errMessage);
					consoleError.code = errData?.status || error.response.status;
					throw consoleError;
				}
			}
			finally {
				this.isLoading = false;
			}
		},
		async loadMorePokemon() {
			await this.fetchPokemon();
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "API",
				"description": "API page",
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.pokemon--flex {
	flex-direction: row;
	justify-content: center;
	margin-left: 0;

	.pokemon-card {
		padding: 24px 0;
		margin: 24px;
		background-color: lighten($primary, 50);

		&:hover {
			border: 1px solid $primary;
		}
	}
}
.spinner, 
.load-more {
	display: flex;
	margin: 24px auto;
}
</style>