<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Flex Card</h2>
                <div class="card-group">
                    <div class="card--primary mb-12">
                        <div class="card--header">
                            Card header
                        </div>
                        <img class="card--image" src="~/static/favicon.png" width="125rem" height="125rem" loading="lazy" alt="Card Image">
                        <div class="card--body">
                            <p class="h5 text-semibold">Card</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!</p>
                        </div>
                        <div class="card--footer">
                            Card footer
                        </div>
                    </div>
                    <div class="card--secondary mb-12">
                        <div class="card--header">
                            Card header
                        </div>
                        <img class="card--image" src="~/static/favicon.png" width="125rem" height="125rem" loading="lazy" alt="Card Image">
                        <div class="card--body">
                            <p class="h5 text-semibold">Card</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="card--footer">
                            Card footer
                        </div>
                    </div>
                    <div class="card--light-grey mb-12">
                        <div class="card--header">
                            Card header
                        </div>
                        <img class="card--image" src="~/static/favicon.png" width="125rem" height="125rem" loading="lazy" alt="Card Image">
                        <div class="card--body">
                            <p class="h5 text-semibold">Card</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
                            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
                        </div>
                    </div>
                    <div class="card mb-12">
                        <img class="card--image" src="~/static/favicon.png" width="125rem" height="125rem" loading="lazy" alt="Card Image">
                        <div class="card--body">
                            <p class="h5 text-semibold">Card</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
                            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
                        </div>
                        <div class="card--footer">
                            Card footer
                        </div>
                    </div>
                </div>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;div class=&quot;card-group&quot;&gt;
    &lt;div class=&quot;card--primary mb-12&quot;&gt;
        &lt;div class=&quot;card--header&quot;&gt;
            Card header
        &lt;/div&gt;
        &lt;img class=&quot;card--image&quot; src=&quot;...&quot; alt=&quot;&quot;&gt;
        &lt;div class=&quot;card--body&quot;&gt;
            &lt;h5&gt;Card&lt;/h5&gt;
            &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card--footer&quot;&gt;
            Card footer
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card--secondary mb-12&quot;&gt;
        &lt;div class=&quot;card--header&quot;&gt;
            Card header
        &lt;/div&gt;
        &lt;img class=&quot;card--image&quot; src=&quot;...&quot; alt=&quot;&quot;&gt;
        &lt;div class=&quot;card--body&quot;&gt;
            &lt;h5&gt;Card&lt;/h5&gt;
            &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card--footer&quot;&gt;
            Card footer
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card--light-grey mb-12&quot;&gt;
        &lt;div class=&quot;card--header&quot;&gt;
            Card header
        &lt;/div&gt;
        &lt;img class=&quot;card--image&quot; src=&quot;...&quot; alt=&quot;&quot;&gt;
        &lt;div class=&quot;card--body&quot;&gt;
            &lt;h5&gt;Card&lt;/h5&gt;
            &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card mb-12&quot;&gt;
        &lt;img class=&quot;card--image&quot; src=&quot;...&quot; alt=&quot;&quot;&gt;
        &lt;div class=&quot;card--body&quot;&gt;
            &lt;h5&gt;Card&lt;/h5&gt;
            &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card--footer&quot;&gt;
            Card footer
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Baze Grid Card</h2>
                <div v-if="!$fetchState.pending">
                    <GridCard :grid-card-data="gridCard" />
                </div>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;div class=&quot;bzg bzg--flex card-group js-card&quot; data-card=&quot;dev/data/data.json&quot;&gt;
    &lt;div class=&quot;bzg_c mb-24&quot; id=&quot;...&quot; data-col=&quot;s12,m6,l3&quot;&gt;
        &lt;div class=&quot;card--primary&quot;&gt;
            &lt;div class=&quot;card--header&quot;&gt;
                Header title
            &lt;/div&gt;
            &lt;a href=&quot;#&quot;&gt;&lt;img class=&quot;card--image&quot; src=&quot;...&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
            &lt;div class=&quot;card--body&quot;&gt;
                &lt;h5&gt;Johanna Sargent&lt;/h5&gt;
                &lt;p class=&quot;text-right&quot;&gt;14 Februari 2019&lt;/p&gt;
                &lt;p class=&quot;mb-0&quot;&gt;Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;card--footer&quot;&gt;
                Footer title
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
            <hr>
        </div>
	</main>
</template>

<script>
export default {
    data() {    
		return {
			gridCard: []
		}
	},

	async fetch() {
		await this.$axios.get(`/json/gridCardData.json`)
			.then(res => {
				this.gridCard = res.data.data;
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},

	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "Card",
				"description": "Card page",
			}
		})
	}
}
</script>
