<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Environment</h2>
                <ul>
                    <li>
                        <p><strong>NodeJS</strong> versi 8 ke atas. Node harus di-<em>install</em> sebelum meng-<em>install</em> lainnya.</p>
                        <p><a class="link-primary" href="https://nodejs.org/en/">Install</a> | <a class="link-primary" href="https://nodejs.org/dist/latest-v4.x/docs/api/">Dokumentasi</a></p>
                    </li>
                    <li>
                        <p><strong>Yeoman</strong>. Jalankan perintah di bawah di <em>command prompt</em>.</p>
                        <pre><code class="code-snippet">npm i -g yo</code></pre>
                    </li>
                    <li>
                        <p><strong>Gulp</strong>. Jalankan perintah di bawah di <em>command prompt</em>.</p>
                        <pre><code class="code-snippet">npm i -g gulp-cli</code></pre>
                    </li>
                    <li>
                        <p><strong>Git</strong></p>
                        <p><a class="link-primary" href="http://www.git-scm.com/download/">Install</a> | <a class="link-primary" href="https://github.s3.amazonaws.com/media/progit.en.pdf">Pro Git (PDF)</a></p>
                    </li>
                    <li>
                        <p><strong>XAMPP</strong></p>
                        <p><a class="link-primary" href="https://www.apachefriends.org/index.html">Install</a></p>
                    </li>
                    <li>
                        <p><strong>Generator Baze</strong></p>
                        <p>Install <a class="link-primary" href="https://github.com/suitmedia/generator-suit-baze">generator baze</a> dengan menjalankan perintah di bawah ini.</p>
                        <pre><code class="code-snippet">npm install generator-baze -g</code></pre>
                        <p>Untuk install ke dalam project frontend, jalankan <pre><code class="code-snippet">yo baze</code></pre></p>
                    </li>
                </ul>
            </div>
            <hr>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "Get Started",
				"description": "Get Started page",
			}
		})
	}
}
</script>
