<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Heading</h2>
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>       
                <div class="f-14">
                    <pre><code class="code-snippet"><span class="tag">&lt;h1&gt;</span>Heading 1<span class="tag">&lt;/h1&gt;</span>
<span class="tag">&lt;h2&gt;</span>Heading 2<span class="tag">&lt;/h2&gt;</span>
<span class="tag">&lt;h3&gt;</span>Heading 3<span class="tag">&lt;/h3&gt;</span>
<span class="tag">&lt;h4&gt;</span>Heading 4<span class="tag">&lt;/h4&gt;</span>
<span class="tag">&lt;h5&gt;</span>Heading 5<span class="tag">&lt;/h5&gt;</span>
<span class="tag">&lt;h6&gt;</span>Heading 6<span class="tag">&lt;/h6&gt;</span></code></pre>
                </div>
            </div>
            <hr>
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Heading Style</h2>
                <p class="h1">Text size adjust h1</p>
                <p class="h2">Text size adjust h2</p>
                <p class="h3">Text size adjust h3</p>
                <p class="h4">Text size adjust h4</p>
                <p class="h5">Text size adjust h5</p>
                <p class="h6">Text size adjust h6</p>
                <div class="f-14">
                    <pre><code class="code-snippet"><span class="tag">&lt;p class=</span><span class="class">&quot;h1&quot;</span><span class="tag">&gt;</span>Text size adjust h1<span class="tag">&lt;/p&gt;</span>
<span class="tag">&lt;p class=</span><span class="class">&quot;h2&quot;</span><span class="tag">&gt;</span>Text size adjust h2<span class="tag">&lt;/p&gt;</span>
<span class="tag">&lt;p class=</span><span class="class">&quot;h3&quot;</span><span class="tag">&gt;</span>Text size adjust h3<span class="tag">&lt;/p&gt;</span>
<span class="tag">&lt;p class=</span><span class="class">&quot;h4&quot;</span><span class="tag">&gt;</span>Text size adjust h4<span class="tag">&lt;/p&gt;</span>
<span class="tag">&lt;p class=</span><span class="class">&quot;h5&quot;</span><span class="tag">&gt;</span>Text size adjust h5<span class="tag">&lt;/p&gt;</span>
<span class="tag">&lt;p class=</span><span class="class">&quot;h6&quot;</span><span class="tag">&gt;</span>Text size adjust h6<span class="tag">&lt;/p&gt;</span></code></pre>
                </div>
            </div>
            <hr>
        </div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "Headings",
				"description": "Headings page",
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.tag {
    color: $purple;
}

.class {
    color: $cyan;
}
</style>
