<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Icon Sizing</h2>
                <p>
                    <i class="bzi-check-circle bzi-0_5x"></i>
                    <i class="bzi-check-circle"></i>
                    <i class="bzi-check-circle bzi-1_2x mr-2 ml-2"></i>
                    <i class="bzi-check-circle bzi-1_5x mr-4 ml-4"></i>
                    <i class="bzi-check-circle bzi-2x mr-8 ml-8"></i>
                </p>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;p&gt;
    &lt;i class=&quot;bzi-check-circle bzi-0_5x&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;bzi-check-circle&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;bzi-check-circle bzi-1_2x&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;bzi-check-circle bzi-1_5x&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;bzi-check-circle bzi-2x&quot;&gt;&lt;/i&gt;
&lt;/p&gt;</code></pre>
                </div>
            </div>
            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Icon Rotation</h2>
                <p>
                    <i class="bzi-thumbs-up"></i>
                    <i class="bzi-thumbs-up bzi-180 mr-8 ml-8"></i>
                </p>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;p&gt;
    &lt;i class=&quot;bzi-thumbs-up&quot;&gt;&lt;/i&gt;
    &lt;i class=&quot;bzi-thumbs-up bzi-180&quot;&gt;&lt;/i&gt;
&lt;/p&gt;</code></pre>
                </div>
            </div>
            <hr>
            
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">IcoMoon Documentation</h2>
                <p>
                    Untuk informasi lebih lanjut mengenai IcoMoon silakan kunjungi link berikut:
                </p>
                <p>
                    <a href="https://icomoon.io/app/#/select"><i class="bzi-flag"></i> Daftar Icon</a> |
                    <a href="https://icomoon.io/docs.html"><i class="bzi-file"></i> Dokumentasi</a>
                </p>
            </div>
            <hr>
        </div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "IcoMoon",
				"description": "IcoMoon page",
			}
		})
	}
}
</script>
