<template>
	<main class="site-main">
		<div class="container text-center font-fira">
			<img class="baze-icon" src="../assets/img/apple-icon.png" width="125rem" height="125rem" alt="">	
			<p class="h3 mb-36">A minimal setup for your frontend environment</p>
			<div class="cta">
				<div class="button">
					<nuxt-link to="/get-started">
						<button class="btn--suitmedia btn--block text-caps btn-sharp" type="button">get started</button>
					</nuxt-link>
				</div>
				<div class="button">
					<a href="https://github.com/suitmedia/suit-baze">
						<button class="btn--ghost-light-grey btn--block text-caps btn-sharp white-outline" type="button">download</button>
					</a>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	layout: 'homelayout',
	data() {
		return {
			
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects:{
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'	
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.baze-icon {
	margin: 2rem;
}

.cta {
	display: flex;
	justify-content: center;
	align-items: center;

	.button {
		width: 40%;
		margin: 0.5rem 1rem;

		.btn-sharp {
			border-radius: 0;
			font-weight: normal;
		}

		.white-outline {
			color: white;
			border-color: white;
			text-shadow: none;
		}

		.white-outline:hover, .white-outline:focus {
			color: black;
			background-color: white;
		}
	}
}

@media (max-width: 768px){
	.baze-icon {
		width: 5rem;
    	height: 5rem;
	}
	.cta {
		flex-direction: column;

		.button {
			width: 100%;
		}
	}
}

</style>
