<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Responsive Image (Resolution Switch)</h2>
                <img class="size-auto"
                        srcset="assets/img/koala-100x100.jpg 100w,
                                assets/img/koala-500x500.jpg 500w,
                                assets/img/koala-1010x1010.jpg 1010w"
                        sizes="(max-width: 28em) 100px,
                            (max-width: 75em) 500px,
                            1010px"
                        src="assets/img/koala-100x100.jpg" 
                        width="100px" 
                        height="100px" 
                        alt="Koala Doll">

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;img srcset=&quot;assets/img/koala-100x100.jpg 100w,
             assets/img/koala-500x500.jpg 500w,
             assets/img/koala-1010x1010.jpg 1010w&quot;
     sizes=&quot;(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px&quot;
     src=&quot;assets/img/koala-100x100.jpg&quot; alt=&quot;Koala Doll&quot;&gt;</code></pre>
                </div>
            </div>
            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Responsive Image (Picture tag)</h2>
                <picture>
                    <source media="(min-width: 64em)" srcset="assets/img/koala-1200x754.jpg">
                    <source media="(min-width: 28em)" srcset="assets/img/koala-600x377.jpg">
                    <img class="size-auto centered-block" src="assets/img/koala-290x290.jpg" width="290px" height="290px" alt="Mother and baby koala">
                </picture>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;picture&gt;
    &lt;source media=&quot;(min-width: 64em)&quot; srcset=&quot;assets/img/koala-1200x754.jpg&quot;&gt;
    &lt;source media=&quot;(min-width: 28em)&quot; srcset=&quot;assets/img/koala-600x377.jpg&quot;&gt;
    &lt;img src=&quot;assets/img/koala-290x290.jpg&quot; alt=&quot;Mother and baby koala&quot;&gt;
&lt;/picture&gt;</code></pre>
                </div>
            </div>
            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Lazy Loading</h2>
                <img v-for="index in 120" 
                    :key="index"
                    class="lazyload mb-4 mr-4"
                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                    data-src="http://lorempixel.com/80/100"
                    width="80px" 
                    height="100px"
                    loading="lazy"
                    alt="Lazy Loaded Image">
            
                <div class="f-14">
                    <pre><code class="code-snippet">&lt;img class=&quot;js-lazyload mb-4&quot;
     src=&quot;data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=&quot;
     data-src=&quot;http://lorempixel.com/80/100&quot;
     width=&quot;80&quot; height=&quot;100&quot;&gt;</code></pre>
                </div>
            </div>
            <hr>
        </div>
	</main>
</template>

<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

<script>
export default {
	data() {
		return {
			
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "Responsive Image",
				"description": "Responsive Image page",
			}
		})
	}
}
</script>
