<template>
	<main class="site-main">
		<div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Tabs</h2>
                <ul class="tabs__bar js-tabs">
                    <li v-for="tab in tabsDefault" :key="tab.id" class="tabs__nav js-tabs-link" :class="{ 'is-active': activeDefaultTabId === tab.id }" :data-control="`#${tab.id}`" @click="handleTab('defaultTabs', tab)">
                        {{ tab.title }}
                    </li>                
                </ul>
                <div class="tabs__content">
                    <div v-for="tab in tabsDefault" :key="tab.id" class="tabs__item js-tabs-item" :class="{ 'is-active': activeDefaultTabId === tab.id }" :id="tab.id">
                        {{ tab.content }}
                    </div>
                </div>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;ul class=&quot;tabs__bar js-tabs&quot;&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link is-active&quot; data-control=&quot;#item1&quot;&gt;TAB 1&lt;/li&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link&quot; data-control=&quot;#item2&quot;&gt;TAB 2&lt;/li&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link&quot; data-control=&quot;#item3&quot;&gt;TAB 3&lt;/li&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link&quot; data-control=&quot;#item4&quot;&gt;TAB 4&lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tabs__content&quot;&gt;
    &lt;div class=&quot;tabs__item js-tabs-item is-active&quot; id=&quot;item1&quot;&gt;
        Item 1
    &lt;/div&gt;
    &lt;div class=&quot;tabs__item js-tabs-item&quot; id=&quot;item2&quot;&gt;
        Item 2
    &lt;/div&gt;
    &lt;div class=&quot;tabs__item js-tabs-item&quot; id=&quot;item3&quot;&gt;
        Item 3
    &lt;/div&gt;
    &lt;div class=&quot;tabs__item js-tabs-item&quot; id=&quot;item4&quot;&gt;
        Item 4
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
            <hr>
            
            <div class="mb-24">
                <h2 class="text-suitmedia font-fira">Justified Tabs</h2>
                <ul class="tabs__bar--justify js-tabs">
                    <li v-for="tab in tabsJustified" :key="tab.id" class="tabs__nav js-tabs-link" :class="{ 'is-active': activeJustifiedTabId === tab.id }" :data-control="`#${tab.id}`" @click="handleTab('justifiedTabs', tab)">
                        {{ tab.title }}
                    </li>                
                </ul>
                <div class="tabs__content">
                    <div v-for="tab in tabsJustified" :key="tab.id" class="tabs__item js-tabs-item" :class="{ 'is-active': activeJustifiedTabId === tab.id }" :id="tab.id">
                        {{ tab.content }}
                    </div>
                </div>

                <div class="f-14">
                    <pre><code class="code-snippet">&lt;ul class=&quot;tabs__bar--justify js-tabs&quot;&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link is-active&quot; data-control=&quot;#justified1&quot;&gt;TAB 1&lt;/li&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link&quot; data-control=&quot;#justified2&quot;&gt;TAB 2&lt;/li&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link&quot; data-control=&quot;#justified3&quot;&gt;TAB 3&lt;/li&gt;
    &lt;li class=&quot;tabs__nav js-tabs-link&quot; data-control=&quot;#justified4&quot;&gt;TAB 4&lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tabs__content&quot;&gt;
    &lt;div class=&quot;tabs__item js-tabs-item is-active&quot; id=&quot;justified1&quot;&gt;
        Item 1
    &lt;/div&gt;
    &lt;div class=&quot;tabs__item js-tabs-item&quot; id=&quot;justified2&quot;&gt;
        Item 2
    &lt;/div&gt;
    &lt;div class=&quot;tabs__item js-tabs-item&quot; id=&quot;justified3&quot;&gt;
        Item 3
    &lt;/div&gt;
    &lt;div class=&quot;tabs__item js-tabs-item&quot; id=&quot;justified4&quot;&gt;
        Item 4
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
            <hr>
        </div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			tabsDefault: [
                { id: "item1", title: "TAB 1", content: "Item 1" },
                { id: "item2", title: "TAB 2", content: "Item 2" },
                { id: "item3", title: "TAB 3", content: "Item 3" },
                { id: "item4", title: "TAB 4", content: "Item 4" }
            ],
            tabsJustified: [
                { id: "justified1", title: "TAB 1", content: "Item 1" },
                { id: "justified2", title: "TAB 2", content: "Item 2" },
                { id: "justified3", title: "TAB 3", content: "Item 3" },
                { id: "justified4", title: "TAB 4", content: "Item 4" }
            ],
            activeDefaultTabId: "item1",
            activeJustifiedTabId: "justified1"
		}
	},    
    methods: {
        handleTab(tabType, tab) {
            if (tabType === "justifiedTabs") {
                this.activeJustifiedTabId = tab.id;
            } else {
                this.activeDefaultTabId = tab.id;
            }
        }
    },
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld(){
		return this.$jsonLD({
			jsonLDObjects: {
				"name": "Tabs",
				"description": "Tabs page",
			}
		})
	}
}
</script>
